app/secrets.properties
app/local.properties
app/tdp028-39c24-firebase-adminsdk-r72b9-5694796cd8.json
app/app/google-services.json

*.apk
*.aar
*.ap_

*.dex

*.class

bin/
gen/
out/
build/

.gradle/
build/

local.properties

.navigation/

captures/

*.iml
.idea/
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/caches

*.jks
*.keystore

.externalNativeBuild

google-services.json

freeline.py
freeline/
freeline_project_description.json

proguard/

*.log

*.patch

*.tmp
*.temp
*.swp

node_modules/

.DS_Store

*.thumb
